.name-of-lesson-homework {
    width: 90px !important;
    /* text-align: center !important; */
    font-size: 17.8722px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #423EFF;
    border: 0.815257px solid #423EFF;
    border-radius: 9.78308px;
    padding: 8.15257px;
}
.hometask-template-content { 
    background-color: #EAF2FF;
    padding: 10px;
    height: 100vh;
}